<nav>
	<ul class="menu vertical align-center">
		<li>
			<%= link_to "Etusivu", root_path %>
		</li>
		<li>
			<%= link_to "Esittely", about_path %>
		</li>
		<li>
			<%= link_to "Asukkaat", '#' %>
		</li>
		<li>
			<%= link_to "Toiminta", '#' %>
		</li>
		<li>
			<%= link_to 'Tallipäiväkirja', controller: 'articles' %>
		</li>
	</ul>
</nav>